name: Deploy to GitHub Pages

on:
  push:
    branches: [ "master", "main" ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET 8.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'
      - name: Publish .NET Core Project
        run: dotnet publish -c Release -o release --nologo
      - name: Change base-tag in index.html from / to ProjectName
        run: |
          cd release/wwwroot
          touch .nojekyll
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: release/wwwroot
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4